<%= render 'form' %>

<div id="map"></div>
<%= render 'map_script' %>

<% @itinerary.locations.each do |location| %>
  <strong>Address: </strong>
  <%= location.address %>

  <strong>Latitude: </strong>
  <%= location.latitude %>

  <strong>Longitude: </strong>
  <%= location.longitude %>psch
  <br>

<% end %>

<script>
	  var polyline = L.polyline(latLngs, {color: 'red'}).addTo(map);
		L.polyline(locations)

		// zoom the map to the polyline
		map.fitBounds(polyline.getBounds());
  </script>

